@model Logos.Models.ViewModel.LoginViewModel;

<header>
	<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
		<div class="container-fluid">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col col-lg-2">
					</div>
					<div class="col-md-auto">
						<a class="navbar-brand ms-lg-5 " style="text-align:center" asp-controller="Home" asp-action="Index">Logos</a>
					</div>
					<div class="col col-lg-2">
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>


<div class="container px-4">
	<div class="row gx-5">
		<div class="col-5 mt-5">
			<div class="p-2 border bg-light mt-5">
				<h2 style="text-align:center">Login to the system</h2>
				<form method="post" asp-controller="Account" asp-action="Login">
					<div asp-validation-summary="ModelOnly"></div>

					<div class="form-group mt-5">
						<label class="form-label mt-4">Login</label>
						<div class="form-floating mb-3">
							<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
							<label for="floatingInput" asp-for="Email">Email address</label>
							<span asp-validation-for="Email"></span>
						</div>
						<div class="form-floating">
							<input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off" asp-for="Password">
							<label for="floatingPassword" asp-for="Password">Password</label>
							<span asp-validation-for="Password"></span>
						</div>
					</div>
					<div class="container px-5 mt-3">
						<div class="row gx-5">
							<div class="col">
								<div class="ms-lg-5 mt-1">
									<button type="submit" class="btn btn-outline-success mt-2">Sing in</button>
								</div>
							</div>
							<div class="col">
								<div class="p-1">
									<a class="btn btn-light mt-2" asp-action="Register" asp-controller="Account">Register</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col">
			<div>
				<img src="~/Image/ClearEat.png" style="max-height:1200px; max-width: 500px; " />
			</div>
		</div>
	</div>
</div>





